{% extends 'base.html.twig' %}

{% block title %}Histoire index{% endblock %}

{% block body %}
    <h1>Histoire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>OrdreAffichage</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for histoire in histoires %}
            <tr>
                <td>{{ histoire.id }}</td>
                <td>{{ histoire.ordreAffichage }}</td>
                <td>{{ histoire.titre }}</td>
                <td>{{ histoire.categorie }}</td>
                <td>{{ histoire.description }}</td>
                <td>
                    <a href="{{ path('app_histoire_show', {'id': histoire.id}) }}">show</a>
                    <a href="{{ path('app_histoire_edit', {'id': histoire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_histoire_new') }}">Create new</a>
{% endblock %}
