{{ form_start(formR) }}
    <input type="hidden" name="commentaire" value="{{ commentaire.id }}">
    <input
        name="{{ field_name(formR.description) }}"
        type="text"
        value="{{ formR.description.vars.value|e }}"
    >
    <button class="btn">{{ button_label|default('Save') }}</button>
    <button type="button"
                        class="btn btn-secondary btn-sm"
                        onclick="toggleForm('form-commentaire')">
                    Annuler
    </button>
    
{{ form_end(formR) }}